<footer class="footer footer-center p-4 bg-base-300 text-base-content ">
    <div>
      <p>Copyright © 2022 
        
        - All right reserved </p>
    </div>
  </footer>
  <script src="/js/main.js"></script>
  <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
      tinymce.init({
          selector: '#notesArea',
          plugins: 'lists autosave',
          toolbar: 'undo redo bold italic underline numlist bullist outdent indent',
          toolbar_sticky: true,
          autosave_ask_before_unload: true
      });
  </script>
</body>
</html>