<!DOCTYPE html>
<html lang="en" data-theme="aqua" >
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project Template Name Here</title>
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body >
    <div class="navbar bg-base-100 bg-neutral-content">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="">
            <svg xmlns="http://www.w3.org/2000/svg" class=" h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/destinations" >Homepage</a></li>
            <li><span>How to Use</span>
              <ul class="bg-base-100">
                <li><a>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> In tenetur dolorum laboriosam ab, repellendus hic natus <br> nam mollitia, eius dolor odio numquam provident! <br>Atque, rem aut sint ratione commodi aliquam mollitia <br> reiciendis enim. Perspiciatis suscipit fuga adipisci quia <br> earum quos? Perferendis sed quo, adipisci beatae <br> exercitationem perspiciatis in! At, nostrum!</a></li>
              </ul></li>
            <li><a >About</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul> 
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost  normal-case text-5xl" href="/destinations" >Travlr</a>
      </div>
      <div class="navbar-end">
        
      </div>
    </div>
 