<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travelr</title>
  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&display=swap" rel="stylesheet">
  <!-- ICONS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav>
    <ul>
      <li><a href="/destinations">Travelr</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  <div class="container destinations-container">
    <h1>Edit Destination: <%= destination[0].destination %></h1>
    <section class="destination">

      <form action='<%= destination[0]._id %>' method='POST' class="destination-header">
        <input type="hidden" name="_method" value="PUT">
        <label for="destinationItem">Destination Name</label>
        <input type="text" name='destinationItem' value="<%= destination[0].destination %>">
        <label for="notes">Notes</label>
        <textarea name="notes" cols="45" rows="6" placeholder="notes" id="notesArea"><%= destination[0].notes %></textarea>

        <button type="submit">Save</button>
      </form>

    </section>
    <a href="/destinations">Cancel</a>
  </div>

  <script src="/js/main.js"></script>
  <script src="https://cdn.tiny.cloud/1/nf56djxmrt5h0sf7j8vkhscwakqvwdeyi7ftriugdec5tc05/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#notesArea',
        plugins: 'lists',
        toolbar: 'undo redo bold italic underline numlist bullist outdent indent',
        toolbar_sticky: true,
        autosave_restore_when_empty:true
    });
</script>
</body>

</html>