<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travelr</title>
</head>
<body>
    <h1>Travelr</h1>
    <p>Create your VERY OWN list of travel destinations!</p>
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
    <div>
        <h2>How to use</h2>
        <p>After creating an account, you can use the form on your dashboard to add a place you want to visit and any notes about the destination you want to keep track of. If your list of destinations is too long, you can click the Add Destination link in the navigation bar to scroll to the form.</p>
        <p>Once you have added a destination you can:
            <ol>
                <li>Click the destination's name to cross it off your list.</li>
                <li>Click the arrow next to the destination's name to view any notes you've made about the destination. Click the arrow again to hide the notes.</li>
                <li>Click Edit to the right of the destination's name to edit the destination name or notes.</li>
                <li>Click Delete to the right of the destination's name to remove the destination from your list.</li>
            </ol>
            add picture of finished /destinations page to illustrate the above
        </p>
    </div>
</body>
</html>